   body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #f8f9fa;
            position: sticky;
        }
        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
        }
        .nav-link {
            font-size: 18px;
            margin-right: 10px;
        }
        section {
            padding: 60px 0;
        }
        h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
        }
        body {
            position: relative;
        }
        
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("./books\ imge.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.4; /* Decrease opacity to 0.8 */
            z-index: -1; /* Place the pseudo-element behind the content */
        }
          footer {
            background-color: black;
            padding: 20px 0;
            font-size: 14px;
            color: #fff;
        }
        .social-icons {
            font-size: 24px;
            margin-right: 10px;
        }
        .contact-number {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .email-address {
            font-size: 18px;
        }

        .contact-number {
            color: blue;
          
        }