   body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #f8f9fa;
            position: sticky;
        }
        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
        }
        .nav-link {
            font-size: 18px;
            margin-right: 10px;
        }
        section {
            padding: 60px 0;
        }
        h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
        }
        body {
            position: relative;
        }
        
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("./books\ imge.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.4; /* Decrease opacity to 0.8 */
            z-index: -1; /* Place the pseudo-element behind the content */
        }
          footer {
            background-color: black;
            padding: 20px 0;
            font-size: 14px;
            color: #fff;
        }
        .social-icons {
            font-size: 35px;
            margin-right: 10px;
        }
        .contact-number {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .email-address {
            font-size: 18px;
        }

        .contact-number {
            color: blue;
          
        }

        #youtube{
            color:red;
        }

        #insta{
            display: inline-block;
            width: 35px;
            height: 35px;
            text-align: center;
            /* border-radius:40px; */
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            color: #fff;
            font-size: 33px;
            line-height: 45px;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }

        #facebook{
            background-color: linear-gradient(#3b5998, #ffffff);
            
        }

        #facebook:hover{
            border-radius: 50%;
            box-shadow: 0 0 10px #3b5998;
           
        }

        #socialIcon{
            margin: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        justify-content: center;
        
        }
        #socialIcon div{
            margin-left:20px ;
        }
        #box{
            height: 30%;
        }
        #box button{
width: 20%;

        }
